.builder {
    display: flex;
}

.item {
    flex: 1;
    height: calc(100vh - 20px);
}

.item2 {
    flex: 2;
}

.panel {
    height: 100%;
    width: 100%;
    background-color: grey;
}

.item {
    width: 100%;
    margin: 5px;
}
