.main {
    display: flex;
    height: 600px;
}

.draggable {
    flex: 1;
}

.dropable {
    flex: 2;
    // overflow-y: auto;
    // background-color: darkgray;
}

// .item:hover {
//     border: 1px dashed blue;
// }
