.condition_container {
    position: relative;
    display: flex;
}

.condition_sub_container {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
}

.condition_sub_container.hover {
    border: 1px solid red;
    background-color: pink;
}

.condition_opt_container {
    width: 40px;
    position: relative;
}

.condition_opt {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    left: 5px;
    font-size: 15px;
    background-color: white;
    top: calc(50% - 22px);
}

.condition_items_container {
    flex: 1;
}

.condition_item {
    position: relative;
}

.condition_items_container.single > .condition_item {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.condition_items_container.single > .condition_item::before {
    content: none;
}

.condition_items_container > .condition_item::before {
    content: '';
    position: absolute;
    left: -26px;
    border-left: 2px solid blue;
    top: -10px;
    bottom: -10px;
}

.condition_items_container > .condition_item:first-child::before {
    top: 50%;
    width: 15px;
    border-top: 2px solid blue;
    border-top-left-radius: 7px;
}

.condition_items_container > .condition_item:last-child::before {
    bottom: 50%;
    width: 15px;
    border-bottom: 2px solid blue;
    border-bottom-left-radius: 7px;
}
