.condition_container {
    position: relative;
    display: flex;
}

.condition_opt_container {
    width: 40px;
    position: relative;
}

.condition_opt {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    left: 12px;
    font-size: 15px;
    background-color: white;
    top: calc(50% - 20px);
}

.condition_items_container {
    flex: 1;
}

.condition_item {
    position: relative;
}

.condition_item::before {
    content: '';
    position: absolute;
    left: -20px;
    border-left: 2px solid blue;
    top: -10px;
    bottom: -10px;
}

.condition_items_container > .condition_item:first-child::before {
    top: 50%;
    width: 10px;
    border-top: 2px solid blue;
    border-top-left-radius: 7px;
}

.condition_items_container > .condition_item:last-child::before {
    bottom: 50%;
    width: 10px;
    border-bottom: 2px solid blue;
    border-bottom-left-radius: 7px;
}
